body{
    display: flex;
    justify-content: center;
    align-items: center;margin-top: 100px;
}
.container{
    border:1px solid black;
    display:flex;
    flex-wrap: wrap;
    width: 600px;
}
.child{
    border: 1px solid black;
    height: 70px;
    width: 600px;
    flex-shrink: 0;
    display: flex;
}
.child1{
    height: 100%;
    width: 12.5%;
    border: 1px solid black;
}
.child1:nth-child(even){
    /*background-color: rgb(140, 205, 140);*/
}
.child:hover{
    background-color: rgb(163, 12, 98);
    transition-duration: 5s;
}
img{
    height: 70%;
    width: 70%;
    padding: 10px;
}
.child11:nth-child(odd){
 background-color: rgba(128, 128, 128, 0.347);
}
.child22:nth-child(even){
   background-color: rgba(128, 128, 128, 0.347);
}.child33:nth-child(odd){
    background-color: rgba(128, 128, 128, 0.347);
}
.child44:nth-child(even){
    background-color: rgba(128, 128, 128, 0.347);
}
.child55:nth-child(odd){
    background-color: rgba(128, 128, 128, 0.347);
}
.child66:nth-child(even){
    background-color: rgba(128, 128, 128, 0.347);
}
.child77:nth-child(odd){
    background-color: rgba(128, 128, 128, 0.347);
}
.child88:nth-child(even){
   background-color: rgba(128, 128, 128, 0.347);
}